/* Background */
.bg-black-90Percent{
  background-color: RGB(4,4,4);
}


/* General contents font */
.section-title-font{
  color: white;
}

.subject-nav-font,
.subject-title-font{
  color: RGB(205,149,253);
}

.subject-bullet-font{
  color: RGB(0,238,103);
}

.subject-description-font{
  color:RGB(249,249,243);
}

.subect-date-font{
  color: RGB(252,109,182);
}

.subject-education-font{
  color: RGB(236,237,118);
}

.subject-subTitle-font{
  /*
  color: RGB(58,235,254);
  */
  color: RGB(252,109,182);
}

.subject-mainProgressBarPercentage-font{
  color: white;
  font-size: 15px;
}

.main-skill{
  font-size: 20px;
  color:RGB(249,249,243);
}

/* same line left & right align */
.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.clearFloat{
  clear: both;
}


/* Hide the frontend & development content */
#frontend-content{
  display: none;
}

#development-content{
  display: none;
}


/* 
Due to the skill list length, for better user experience,
Make the list to be fixed height
*/

.extend-fix-height{
  height: 800px;
}







